{% extends 'AppBundle:admin:layout/layout.html.twig' %}
{% block body %}
    <h1>Les matchs</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date du match</th>
                <th>Domicile</th>
                <th>Lieu de rencontre</th>
                <th>Equipe</th>
                <th>Adversaires</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td>{% if match.dateMatch %}{{ match.dateMatch|date('Y-m-d H:i') }}{% endif %}</td>
                <td>{% if match.domicile %}Oui{% else %}Non{% endif %}</td>
                <td> {{ match.place }} </td>
                <td> {{ match.team }} </td>
                <td> {{ match.team2 }} </td>
                <td>
                    <ul class="list-inline">
                        <li title="détails">
                            <a href="{{ path('matchs_show', { 'id': match.id }) }}" class="btn btn-sm btn-info">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </li>
                        <li title="modifier">
                            <a href="{{ path('matchs_edit', { 'id': match.id }) }}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </li>
               </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('matchs_new') }}" class="btn btn-sm btn-success">Nouveau Match</a>
        </li>
    </ul>
{% endblock %}
