{% extends 'AppBundle:Layout:layout.html.twig' %}
{% block body %}
    <h1>Matchs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datematch</th>
                <th>Domicile</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td><a href="{{ path('matchs_show', { 'id': match.id }) }}">{{ match.id }}</a></td>
                <td>{% if match.dateMatch %}{{ match.dateMatch|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if match.domicile %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('matchs_show', { 'id': match.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('matchs_edit', { 'id': match.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('matchs_new') }}">Create a new match</a>
        </li>
    </ul>
{% endblock %}
