{% extends 'base.html.twig' %}

{% block body %}
    <h1>Role</h1>

    <table>
        <tbody>
            <tr>
                <th>Rôle</th>
                <td>{{ role.roleName }}</td>
            </tr>
            <tr>
                <th>Droits</th>
                <td>{{ role.roleRights }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('role_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('role_edit', { 'id': role.id }) }}">Edition</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
