{% extends 'AppBundle:admin:layout/layout.html.twig' %}

{% block body %}

    <h1>Les profils du club enregistrés</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Historique</th>
            <th>Valeurs</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td>{{ club.title}}</td>
                <td>{{ club.clubcontent }}</td>
                <td>
                    <ul class="list-inline">
                        <li title="details">
                            <a href="{{ path('club_show', { 'id': club.id }) }}" class="btn btn-sm btn-info">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </li>
                        <li title="modifier">
                            <a href="{{ path('club_edit', { 'id': club.id }) }}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </li>
                        <li title="suprimer">
                            <a href="{{ path('club_delete', { 'id': club.id }) }}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('club_new') }}" class="btn btn-sm btn-success">Nouveau profil du club</a>
        </li>
    </ul>
{% endblock %}
