{% extends 'AppBundle:admin:layout/layout.html.twig' %}
{% block body %}
    <h1>Détails</h1>

    <div class="row">
        <div class="col-sm-4">
            <img src="{{ asset('uploads/images/'~ file.files) }}" />
        </div>
        <div class="col-sm-8">
            <table class="table">
                <tbody>
                <tr>
                    <th>Nom du fichier</th>
                    <td>{{ file.name }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ file.type }}</td>
                </tr>
                <tr>
                    <th>Alt</th>
                    <td>{{ file.alt }}</td>
                </tr>
                <tr>
                    <th>Date de mise en ligne</th>
                    <td>
                        {% if file.uploadDate %}{{ file.uploadDate|date('Y-m-d H:i') }}{% endif %}
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>

    <div class="row">
        <ul class="list-inline">
            <li>
                <a href="{{ path('file_index') }}" class="btn btn-sm btn-default">Retour à la liste</a>
            </li>
            <li>
                <a href="{{ path('file_edit', { 'id': file.id }) }}" class="btn btn-sm btn-warning">Modifier</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer"  class="btn btn-sm btn-danger">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
