{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block body %}
    <h1>Evènement</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom de l'évènement</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if event.dateEvent %}{{ event.dateEvent|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('event_edit', { 'id': event.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
