{% extends 'AppBundle:admin:layout/layout.html.twig' %}

{% block body %}
    <h1>Evènement</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Nom de l'évènement</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if event.dateEvent %}{{ event.dateEvent|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('event_index') }}" class="btn btn-sm btn-default">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('event_edit', { 'id': event.id }) }}" class="btn btn-sm btn-warning">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
