{% extends 'AppBundle:admin:layout/layout.html.twig' %}

{% block body %}
    <h1>Equipe {{ team.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date de reprise</th>
                <td>{% if team.resumptionDate %}{{ team.resumptionDate|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Jour d'entrainement</th>
                <td>{{ team.trainingDay }}</td>
            </tr>
            <tr>
                <th>Horaire d'entrainement</th>
                <td>{{ team.trainingTime }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li class="btn btn-default">
            <a href="{{ path('team_index') }}">Retour à la liste</a>
        </li>
        <li class="btn btn-warning">
            <a href="{{ path('team_index') }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
        
    </ul>
{% endblock %}
