{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block body %}
    <h1>Plannings du week-end</h1>
    <div class="col-sm-10">
        <div class="well">
            <h2>{{ weekTitle }}
                <small>Semaine {{ week }}</small>
            </h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date du match</th>
                    <th>Lieu</th>
                    <th>Salle</th>
                    <th>Equipe 1</th>
                    <th>Equipe 2</th>
                    {% if is_granted('ROLE_MANAGER') %}
                        <th>Actions</th>
                    {% endif %}
                    <th>Détails</th>
                </tr>
                </thead>
                <tbody>
                {% for match in matchs %}
                    <tr>
                        <td>{{ match.dateMatch|date('d/m/Y H\\hi') }}</td>
                        <td>{{ match.domicile }}</td>
                        <td>{{ match.place }}</td>
                        <td>{{ match.team }}</td>
                        <td>{{ match.team2 }}</td>
                        {% if is_granted('ROLE_MANAGER') %}
                            <td>
                                <ul class="list-inline icons">
                                    <li data-toggle="tooltip" title="Modifier">
                                        <a href="{{ path('manager_matchs_edit', { 'id': match.id }) }}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </li>
                                    <li data-toggle="tooltip" title="Supprimer">
                                        <a href="{{ path('manager_matchs_delete', { 'id': match.id }) }}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        {% endif %}
                        <td><a href="{{ path('app_match_show', { 'id': match.id }) }}">Plus d'infos</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-4 col-centered">
                    <h4>
                        <a href="{{ path('planning_week', { 'week': week-1 }) }}"><span
                                    class="glyphicon glyphicon-chevron-left"></span>Semaine {{ week-1 }}</a> |
                        <a href="{{ path('planning_week', { 'week': week+1 }) }}">Semaine {{ week+1 }}<span
                                    class="glyphicon glyphicon-chevron-right"></span></a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="well">
            <h3>Par année</h3>
            <a href="{{ path('planning_year', { 'id': year-1 }) }}"><h4>Année {{ year-1 }}</h4></a>
            <a href="{{ path('planning_year', { 'id': year }) }}"><h4>Année {{ year }}</h4></a>
            <a href="{{ path('planning_year', { 'id': year+1 }) }}"><h4>Année {{ year+1 }}</h4></a>
        </div>
        {% if is_granted('ROLE_MANAGER') %}
            <div class="well">
                <p>Accès Manager :</p>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('manager_matchs_new') }}" class="btn btn-sm btn-success">Nouveau
                            match</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}