{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block body %}
    <h1>Les équipes</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom de l'équipe</th>
            <th>Date de reprise</th>
            <th>Jour d'entrainement</th>
            <th>Horaire d'entrainement</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td>{{ match.dateMatch|date('Y-m-d H:i:s') }}</td>
                <td>{{ match.domicile }}</td>
                <td>{{ match.place }}</td>
                <td>{{ match.team }}</td>
                <td>{{ match.team2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
