{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block body %}
    <h1>Plannings du Weekend</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date du match</th>
            <th>Lieu</th>
            <th>Salle</th>
            <th>Equipe 1</th>
            <th>Equipe 2</th>
        </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td>{{ match.dateMatch|date('Y-m-d H:i') }}</td>
                <td>{{ match.domicile }}</td>
                <td>{{ match.place }}</td>
                <td>{{ match.team }}</td>
                <td>{{ match.team2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Plannings annuels</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date du match</th>
            <th>Lieu</th>
            <th>Salle</th>
            <th>Equipe 1</th>
            <th>Equipe 2</th>
        </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td>{{ match.dateMatch|date('Y-m-d H:i') }}</td>
                <td>{{ match.domicile }}</td>
                <td>{{ match.place }}</td>
                <td>{{ match.team }}</td>
                <td>{{ match.team2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
