{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block body %}
    <h1>Plannings</h1>
    <div class="col-sm-12">
        <div class="well event-box">
            <h2>Planning de l'année {{ year }}</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date du match</th>
                    <th>Lieu</th>
                    <th>Salle</th>
                    <th>Equipe 1</th>
                    <th>Equipe 2</th>
                </tr>
                </thead>
                <tbody>
                {% for match in matchs %}
                    <tr>
                        <td>{{ match.dateMatch|date('Y-m-d H:i') }}</td>
                        <td>{{ match.domicile }}</td>
                        <td>{{ match.place }}</td>
                        <td>{{ match.team }}</td>
                        <td>{{ match.team2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('planning_homepage') }}"><h4>Retour aux plannings par semaine</h4></a>
    </div>
{% endblock %}
