{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block body %}
    <h1>Photo de {{ team.name| lower }}</h1>

    {% if files != null %}

        {% for file in files %}
            {% if loop.index0 % 4 == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-md-3">
                <a data-fancybox="gallery" href="{{ asset('uploads/images/'~ file.files)}}">
                    <figure class="frame text-center" style="padding:12px; width: 100%">
                        <img src="{{ asset('uploads/images/'~ file.files)  }}" alt="{{ file.alt }}" width="90%"/>
                        <figcaption class="text-center">
                            {{ file.name| upper }}<br/>
                            {% if file.uploadDate %}{{ file.uploadDate|date('d/m/Y') }}{% endif %}
                        </figcaption>
                    </figure>
                </a>
            </div>
            {% if (loop.index0 % 4 == 3) or (loop.last) %}
                </div>
            {% endif %}
        {% endfor %}

    {% else %}
        <h2>L'équipe
            {{ team.name | lower}}
            n'a pas de photo</h2>
    {% endif %}

    <div class="margin-top">
        <ul class="list-inline">
            <li>
                <a href="{{ path('app_teams_homepage') }}" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-menu-left"></span> Retour à la liste
                </a>
            </li>
        </ul>
    </div>

{% endblock %}
