{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block body %}
    <h1>Equipe {{ team.name }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Date de reprise</th>
                <td>{% if team.resumptionDate %}{{ team.resumptionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Jour d'entrainement</th>
                <td>{{ team.trainingDay }}</td>
            </tr>
            <tr>
                <th>Horaire d'entrainement</th>
                <td>{{ team.trainingTime }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('team_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
