<footer class="footer footer-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ul class="col-lg-4">
                    <li><a href="{{path('app_homepage')}}">Accueil</a></li>
                    <li><a href="{{path('planning_homepage')}}">Plannings</a></li>
                    <li><a href="{{path('app_apropos')}}">A Propos</a></li>
                </ul>
                <ul class="col-lg-4">
                    <li><a href="{{path('app_inscription')}}">S'inscrire au club</a></li>
                    <li><a href="{{path('app_teams_homepage')}}">Les équipes</a></li>
                    <li><a href="{{path('app_contact')}}">Contactez nous</a></li>
                </ul>
                <ul class="col-lg-4">
                    <li><a href="{{path('app_register')}}">Inscription</a></li>
                    <li><a href="{{path('app_login')}}">Connexion</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_admin_dashboard')}}">Administration</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-lg-4">
            {#
                <label for="email" id="newsletter-heading">Inscription à la newsletter</label>
                <form class="form-inline">
                    <div class="form-group">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <input type="email" class="form-control" placeholder="Votre adresse email" required>
                        <input type="submit" class="btn btn-success" value="S'inscrire">
                    </div>
                </form>
            #}
            </div>
        </div>
    </div>
</footer>
<footer class="footer footer-copyright">
    <div class="container"><!--pull-right-->
        &copy;IMIE 2017 Equipe Bravo
    </div>
</footer>