{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block body %}
    <h1>Match</h1>
    <div class="col-sm-8">
        <div class="well">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th>Date</th>
                    <td>{% if match.dateMatch %}{{ match.dateMatch|date('d/m/Y H\\hi') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Lieu</th>
                    <td>{% if match.domicile %}À domicile{% else %}En extérieur{% endif %}</td>
                </tr>
                <tr>
                    <th>Salle</th>
                    <td>{{ match.place }}</td>
                </tr>
                <tr>
                    <th>Equipe</th>
                    <td>{{ match.team }}</td>
                </tr>
                <tr>
                    <th>Equipe adverse</th>
                    <td>{{ match.team2 }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul class="list-inline">
            <li>
                <a href="{{ path('planning_homepage') }}" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-menu-left"></span> Retour à la liste
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <h2 class="panel-title frame-title">Joueurs</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>{{ team1.name }}</td>
                    <td>{{ team2.name }}</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                    {% for player in players1 %}
                        {{ player.firstname }} {{ player.lastname }}<br>
                    {% endfor %}
                    </td>
                    <td>
                    {% for player in players2 %}
                       {{ player.firstname }} {{ player.lastname }}<br>
                    {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
