{% extends 'AppBundle:admin:layout/layout.html.twig' %}

{% block body %}
    <h1>Membres inscrits</h1>  
    {# 
        La liste des membres devrait s'afficher si enregistré uniquement 
        Régler le routage (cf security.yml)
    #}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Téléphone</th>
                <th>Rue</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>E-mail</th>
                <th>Rôles</th>
                <th>Équipes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.lastName }}</td>
                <td>{{ person.firstName }}</td>
                <td>{% if person.birthDate %}{{ person.birthDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ person.phone }}</td>
                <td>{{ person.street }}</td>
                <td>{{ person.zip }}</td>
                <td>{{ person.city }}</td>
                <td>{{ person.email }}</td>
                <td>{% for role in person.userRoles %}
                        {{ role }}
                    {% endfor %}
                </td>
                <td>{% for team in person.teams %}
                        {{ team }}
                    {% endfor %}
                </td>
                <td>
                    <ul class="list-inline">
                        <li data-toggle="tooltip" title="détails">
                            <a href="{{ path('person_show', { 'id': person.id }) }}" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-info-sign"></span></a>
                        </li>
                        {# A masquer/afficher en fonction des droits #}
                        <li data-toggle="tooltip" title="éditer">
                            <a href="{{ path('person_edit', { 'id': person.id }) }}" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                        </li>
                        <li data-toggle="tooltip" title="suprimer">
                            <a href="{{ path('person_delete', { 'id': person.id }) }}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="list-inline">
        <li>
            <a href="{{ path('person_new') }}" class="btn btn-sm btn-success">Nouveau membre</a>
        </li>
    </ul>
{% endblock %}
