{% extends 'AppBundle:admin:layout/layout.html.twig' %}

{% block body %}
    <h1>Salles</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Salle</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.room }}</td>
                <td>{{ place.city }}</td>

                <td>
                    <ul class="list-inline">
                        <li title="détails">
                            <a href="{{ path('place_show', { 'id': place.id }) }}" class="btn btn-sm btn-info">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </li>
                        <li title="modifier">
                            <a href="{{ path('place_edit', { 'id': place.id }) }}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </li>
                        <li title="suprimer">
                            <a href="{{ path('place_delete', { 'id': place.id }) }}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('place_new') }}" class="btn btn-sm btn-success">Nouvelle salle</a>
        </li>
    </ul>
{% endblock %}
